
.myPage{
    background-color: #DDE5B6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.box{
    width: 500px;
    height: 300px;
    background-color: #F0EAD2;
    border-color: #6C584C;
    border-width : 5px ;
    border-style : solid ;
    border-radius: 25px;
    padding: 4rem 4rem ;
    display: grid;
    /* justify-content: center; 
      align-items: center;  */
      box-shadow: 5px 5px 10px rgba(0,0,0,0.3); 
    
    }
.form{
    display: flex;
    flex-direction: column;
    align-items: center; /* 'alignitems'에서 오타를 수정함 */
    justify-content: center;
}
/* 
.form{
    display: flex;
    flex-Direction: column;
} */
/* input 창위에 한겹 더있음  */
.inputbox {
    display: flex;
    border: none;
    border-bottom: 3px solid #6C584C;
    outline: none;
    width: 90%;
    }

.input{
    background: transparent;  
    border: none; /* 기존 테두리 제거 */
    outline: none; /* 포커스 시 외곽선 제거 */
    height: 30px;
    font-size: larger;
    font-weight: 500;
    float: left;
}
.button {
    background-color: #6C584C;
    border: none;
    border-radius: 25px;
    width: 300px;
    height: 30px;
    margin-left: 40%;
    color: white;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3); 
    cursor: pointer;
  }
  