
.myPage{
    background-image: url('../../../../public/image/backGround/backgroundUser.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.logo{
    position: absolute;
    left: 45%;
    top: 17%;
}

.logoImage{
    width: 17%;
    cursor: pointer;
}

.allBox{
    position: relative;
    margin-top: 15%;
    height: 50%;
}

.topBox{
    display: flex;
    height: 25%;
    border-bottom: 5px solid #6C584C;
}

.bottomBox{
    margin-top: 3%;
    display: flex;
    height: 25%;
    border-bottom: 5px solid #6C584C;
}


.frontZone{
    height: 100%;
    width: 15%;
}

.inputZone{
    padding-left: 3%;
    background: transparent;
    border: none;
    outline: none;
    height: 100%;
    width: 85%;
    font-size: x-large;
    font-weight: bold;
    color: #6C584C;
}

.registDiv{
    margin-top: 5%;
    height: 30%;
    position: relative;
    justify-content: center;
}

.changeDiv{
    margin-top: 4%;
    height: 30%;
    position: relative;
    justify-content: center;
}

.Button{
    background-color: #6C584C;
    border-radius: 15px;
    width: 90%;
    height: 100%;
    color: #F0EAD2;
    cursor: pointer;
    border: none;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    font-size: x-large;
    font-weight: bold;
    margin-left: 5%;
}

.box{
    width: 30%;
    height: 50%;
    background-color: #F0EAD2;
    border-color: #6C584C;
    border-width : 5px ;
    border-style : solid ;
    border-radius: 25px;
    padding: 4rem 4rem ;
    display: grid;
    /* justify-content: center; 
      align-items: center;  */
      box-shadow: 5px 5px 10px rgba(0,0,0,0.3); 
    
    }