.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  height: 100%;
}

.boardContainer1 {
  flex: 0 0 100%;
  width: 200px;
  height: 100vh;
  background-image: url("../../../../../../public/image/game/puzzleGame/puzzleGameBgHeart1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boardContainer2 {
  flex: 0 0 100%;
  width: 200px;
  height: 100vh;
  background-image: url("../../../../../../public/image/game/puzzleGame/puzzleGameBgHeart2.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.boardContainer3 {
  flex: 0 0 100%;
  width: 200px;
  height: 100vh;
  background-image: url("../../../../../../public/image/game/puzzleGame/puzzleGameBgHeart3.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.board-container1 {
  display: flex;

  flex-direction: column; /* 세로로 배열하려면 이 부분 추가 */
  margin-left: 15%;
  position: relative; /* 부모 요소에 상대 위치 지정 */
}
  
.board-container2 {
  display: flex;
  margin-top: 7%;
  margin-left: 5%;
  flex-direction: column; /* 세로로 배열하려면 이 부분 추가 */
}
.board-container3 {
  display: flex;
  flex-direction: column; /* 세로로 배열하려면 이 부분 추가 */
  margin-left: 35%;
  position: relative; /* 부모 요소에 상대 위치 지정 */
}
  
.board-container4 {
  display: flex;
  margin-top: 7%;
  margin-left: 45%;
  flex-direction: column; /* 세로로 배열하려면 이 부분 추가 */
}
.board-container5 {
  display: flex;
  flex-direction: column; /* 세로로 배열하려면 이 부분 추가 */
  margin-top: 20%;
  margin-left: 3%;
  position: relative; /* 부모 요소에 상대 위치 지정 */
}

.board-container6 {
  margin-top: 15%;
  display: flex;
  margin-top: 1%;
  margin-left: 5%;
  flex-direction: column; /* 세로로 배열하려면 이 부분 추가 */
}

.board-item {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emptySpace {
  width: 40px;
  height: 40px;
  border: 2px solid black;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%; 
  height: 100%;
}
.puzzleLeft {
  flex: 0 0 70%;
  max-width: 70%;
  height: 100%;
  background-image: url("../../../../../../public/image/game/puzzleGame/puzzleGameBgHeart.JPG");
  background-size: cover;
  background-repeat: no-repeat;
}
.puzzleRight {
  flex: 0 0 30%;
  max-width: 30%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1px;
  object-fit:fill;
}
.gridImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}
.puzzleImage {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.stage3SelectBtn {
  position: absolute;
  top: 58%;
  right: 33%;
  width: 130px;
  height: 60px;
  background-Color: #A98467;
  display: flex;
  align-Items: center;
  justify-Content: center;
  font-Size: 24px;
  font-Weight: bold;
  color:#F0EAD2;
  border-Radius: 20px;
}
