/* 숫자보드 */
.number-board {
    display: flex;
    flex-direction: column;
  }  
  .number-row {
    display: flex;
  }  
  .number-cell {
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
  }  
  .number-cell.even {
    background-color: #ADC178;
  }
  .number-cell.odd {
    background-color: #A98467;
  }
  
  /* 알파벳보드 */
  .alpha-board {
    display: flex;
    flex-direction: column;
  }
  .alpha-row {
    display: flex;
  }
  .alpha-cell {
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
  }
  .alpha-cell.even {
    background-color: #ADC178;
  }
  .alpha-cell.odd {
    background-color: #A98467;
  }
  
  /* 사칙연산기호 보드 */
  .math-board {
    display: flex;
    flex-direction: column;
  }
  .math-row {
    display: flex;
  }
  .math-cell {
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
  }
  .math-cell.even {
    background-color: #ADC178;
  }
  .math-cell.odd {
    background-color: #A98467;
  }
  
  
  /* 정답입력 보드 */
  .ans-board {
    display: flex;
    flex-direction: column;
  }
  .ans-row {
    display: flex;
  }
  .ans-cell {
    width: 75px;
    height: 75px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
  }
  .ans-cell.even {
    background-color: #6C584C;
  }
  .ans-cell.odd {
    background-color: #ADC178;
  }