.rankPage{
    background-image: url('../../../../public/image/backGround/backgroundUser.png');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rankDiv{
    width: 80%;
    height: 75%;
    border: 5px solid #65584c;
    background-color: #F0EAD2;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    position: relative;
    top: 5%;
}

.buttonZone{
  position: absolute;
  top: 7%;
  width: 75%;
  height: 11%;
}

.buttonNoneClick{
  width: 19.5%;
  height: 80%;
  position: absolute;
  bottom: 0;
  border-radius: 15px 15px 0 0;
  background-color: #65584c;
  color: #F0EAD2;
  border: none;
  font-size: xx-large;
  font-weight: bold;
  cursor: pointer;
}

.buttonClick{
  width: 19.5%;
  height: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 15px 15px 0 0;
  background-color: #F0EAD2;
  color: #65584c;
  border: 4px solid #65584c;
  font-size: xx-large;
  font-weight: bold;
  cursor: default;
}

.line{
  height: 90%;
  width: 5px;
  background-color: #65584c;
  position: absolute;
  top: 8%;
  left: 40%
}

.myRankingContainer{
    width: 40%;
    height: 80%;
    position: absolute;
    justify-content: center;
    display: flex;
    bottom: 0;
}

.rankImage{
    width: 50%;
    height: 50%;
}

.rankBackImage{
  width: 30%;
  margin-top: 27%;
  margin-left: 4%;
}

.myTeamBlock{
    width: 20%;
    height: 10%;
    position: absolute;
    border-radius: 15px;
    border: 5px solid #65584c;
    color: #65584c;
    top: 3%;
    left: 8%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    font-size: large;
    font-weight: 600;
}
.allRankingContainer{
    width: 60%;
    height: 80%;
    position: absolute;
    justify-content: center;
    display: flex;
    bottom: 2%;
    right: 0;
}

.allTeamBlock{
    width: 20%;
    height: 10%;
    position: absolute;
    border-radius: 15px;
    color: #65584c;
    border:5px solid #65584c;
    top: 3%;
    right: 23%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    font-size: large;
    font-weight: 600;
}

.rankingTableContainer{
  width: 80%;
  height: 80%;
}

.allRankTable{
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-size: large;
  font-weight: bold;
  color: #65584c;
}

.allRankHead{
  height: 60px;
  border-bottom: 3px solid #65584c;
}

.allRankBody{
  height: 60px;
  border-bottom: 1.5px solid #65584c;
}

.allRankBody:hover td{
  background-color:#DDE5B6;
}

.tableBodyDiv{
  width: 100%;
  height: 100%;
  overflow: auto;
}

.tableBodyDiv::-webkit-scrollbar {
  width: 10px; /* 스크롤바 너비 */
}

.tableBodyDiv::-webkit-scrollbar-thumb {
  background-color: #DDE5B6; /* 스크롤바 색상 */
  border-radius: 5px; /* 스크롤바 모서리 둥글게 */
}

.tableBodyDiv::-webkit-scrollbar-thumb:hover {
  background-color: #65584c; /* 스크롤바 호버 시 색상 변경 */
}

.closeInputBox{
  position: absolute;
  cursor: pointer;
  left: 0%;
  top: 1%;
  width: 7%;
  height: 10%;
  background-color: transparent;
  color: #6C584C;
  font-weight: bold;
  font-size: 70px;
  border: none;
}