.compStyle {
	width: 90%;
	height: 95%;
	padding: 2.5% 5%;
}
.background_G2{
  width: 100%;
  height: 90%;
  background-image: url("../../../../../../public/image/backGround/G2_BG_maze.png");
  background-size: cover;
  background-position: center;
  padding: 0;
}
.charStyle{
  display: flex;
  width: 55%;
  height: 100%;
}
.firstDiv {
  height: 100%;
  width: 34%;
  display: flex;
  padding-bottom: 2%;
  position: relative;
}
.checkMain{
  height: auto;
  width: 100%;
}
.checkMarkExtra{
  width: 50%;
  height: auto;
  position: absolute;
  top: 70%;
  left: 30%;
  z-index: 1;
}
.otherDiv {
  height: 100%;
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 2%;
  position: relative;
}
.checkExtra{
  height: auto;
  width: 100%;
}
.guideStyle{
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 100%;
}
.topDivStyle {
  height: 67%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottomDivStyle {
  height: 33%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.howToPlayBtn {
  width: 20%;
  height: 50%;
  background-Color: #A98467;
  display: flex;
  align-Items: center;
  justify-Content: center;
  font-Size: 24px;
  font-Weight: bold;
  color:#F0EAD2;
  border-Radius: 20px;
}
.troop2 {
  position: absolute;
  top: 18%;
  left: 10%;
  width: 600px;
  height: 300px;
}
.howToPlayImg {
  position: absolute;
  top: 60%;
  right: 22%;
  width: 8%;
  height: 25%;
  background-color: white;
} 
.readyBtn {
  position: absolute;
  top: 58%;
  right: 22%;
  width: 8%;
  height: 9%;
  background-Color: #A98467;
  display: flex;
  align-Items: center;
  justify-Content: center;
  font-Size: 24px;
  font-Weight: bold;
  color:#F0EAD2;
  border-Radius: 20px;
}
.howToPlayBtn {
  position: absolute;
  top: 58%;
  right: 33%;
  width: 8%;
  height: 9%;
  background-Color: #A98467;
  display: flex;
  align-Items: center;
  justify-Content: center;
  font-Size: 24px;
  font-Weight: bold;
  color:#F0EAD2;
  border-Radius: 20px;
}
.startBtn {
  position: absolute;
  top: 58%;
  right: 11%;
  width: 8%;
  height: 9%;
  background-Color: #A98467;
  display: flex;
  align-Items: center;
  justify-Content: center;
  font-Size: 24px;
  font-Weight: bold;
  color:#F0EAD2;
  border-Radius: 20px;
}


.checkDorothy{
  position: absolute;
  top: 34%;
  left: 40%;
  width: 130px;
  height: 60px;
  z-index: 100;
}
.checkHeosu{
	position: absolute;
  top: 42%;
  left: 30%;
  width: 130px;
  height: 60px;
  z-index: 100;
}
.checkLion{
	position: absolute;
  top: 34%;
  left: 21%;
  width: 130px;
  height: 60px;
  z-index: 100;
}

.checktwm{
	position: absolute;
  top: 42%;
  left: 12%;
  width: 130px;
  height: 60px;
  z-index: 100;
}