.compStyle {
	width: 90%;
	height: 100%;
	padding: 3% 5%;
}

.iconStyle {
  position: absolute;
  top: 65%;
  left: 7.5%;
  width: 70px;
  height: 70px;
}

.backgroundDiv {
  display: flex;
  width: 100%;  
  height: 94%;
  margin-top: -2%;
  background-image: url("../../../../../../public/image/backGround/G2_BG_maze.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

.arrowDiv {
	display: flex;
	flex-direction: column;
	width: 20%;
}

.arrowPart {
	margin-top: 100%;
	margin-left: 30%;
}

.turnArrow {
	position: absolute;
	width: 80px;
	/* height: 30%; */
	top:47%;
	left:13%;
}

.lionDiv {
	position: relative;
	text-align: center;
	justify-content: center;
	align-items: center;
	width: 60%;
}

.lionView {
	display: flex;
	justify-content: center;
  align-items: center;
}

.txtStyle {
	display: flex;
	margin-left: 12%;
	height: 50px;
	width: 76%;
	background-color: #6C584C;
	color: #F0EAD2;
	margin-top: 4%;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	border-radius: 20px;
}