.chatPage{
    flex: 0 0 25%;
    background-color: #C9BE96;
    border-radius: 15px;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 80%;
    margin-left: 6%;
    padding: 1%;
}

.videoPage{
    flex: 0 0 60%;
    background-color: rgba(240, 234, 210, 0.8);
    border-radius: 50px;
    margin: 1%;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns with equal width 
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;  */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.videoBox{
    width: 289px;
    height: 217px;
    display: flex;
    padding: 1% 6%;
}

.nickBox{
    width: 289px;
    height: 50px;
    position: absolute;
    z-index: 1;
    background-color: #A98467;
    color: #F0EAD2;
    text-align: center;
    border-radius: 25px 25px 0 0;
}

.emptySlot{
    height: 217px;
    width: 289px;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    border-radius: 25px;
}

.chatInput {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* 원하는 간격으로 조절 */
    height: 10%;
    width: 96%;
    border-radius: 0 0 10px 10px;
    background-color: #F0EAD2;
    padding: 0 2%;
  }
  
.chatInput input {
    color: #6C584C;
    font-weight: bold;
    height: 65%;
    width: 85%;
    margin-right: 5px;
    border: none;
    background-color: #C9BE96;
    border-radius: 6px 0 0 6px;
    padding-left: 3%;
}

.chatInput button {
    color: #6C584C;
    font-weight: bold;
    height: 65%;
    width: 10%;
    padding-top: 1%;
    border: none;
    background-color: #C9BE96;
    border-radius: 0 6px 6px 0 ;
}

.chatInput input:focus{
    outline: none;
}

.chatMessages {
    height: 90%;
    overflow-y: auto;
    background-color: #F0EAD2;
    padding: 0 2%;
    border-radius: 10px 10px 0 0;
}

.Msng{
    font-weight: bold;
}