spring:
  h2:
    console:
      enabled: true
      path: /h2-console

  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:~/test
    username: sa
    password:

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        dialect: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create

  devtools:
    livereload:
      enabled: true
    restart:
      enabled: false
  freemarker:
    cache: false

  redis:
    host: localhost
    port: 6379

jwt:
  secret-key: asdasdasdasdasdasdasdassdasdasdasdasdassdasd
  access-token-valid-time: 60000
  refresh-token-valid-time: 60000

kakao:
  client-id: 581ca2cce261061e9424b527fdadf174
  redirect-uri: http://localhost:8080/api/oauth/kakao
  token-url: https://kauth.kakao.com/oauth/token
  info-url: https://kapi.kakao.com/v2/user/me

