.compStyle {
  width: 90%;
  height: 95%;
  padding: 2.5% 5%;
}
.iconStyle {
  position: absolute;
  top: 55%;
  left: 7.5%;
  width: 50px;
  height: 50px;
}
  .backgroundDiv {
    width: 100%;
    height: 90%;
    background-image: url("../../../../../public/stage1Background.png");
    background-size: cover;
    background-position: center;
    padding: 0;
  }
  /* 1스테이지 게임 */
.backgroundDiv1 {
  width: 100%;
  height: 90%;
  background-image: url("../../../../../public/stage1Background.png");
  background-size: cover;
  background-position: center;
  padding: 0;
}

.BoardStyle {
  position: absolute;
  top: 40%;
  left: 50%;
  margin: -150px 0 0 -150px;
}
.BoardStyle2{

  position: absolute;
  top: 40%;
  left: 30%;
  margin: -150px 0 0 -150px;
};

.MathBoardStyle {
  position: absolute;
  top: 42%;
  left: 60%;
  margin: -150px 0 0 -150px;
};
.AnsBoardStyle  {
  position: absolute;
    top: 62%;
  left: 60%;
    margin: -150px 0 0 -150px;
};
.equal {
  position: absolute;
  top: 55%;
  right: 45%;
  width: 50px;
  height: 50px;
};

.subBtnStyle {
  position: absolute;
  top: 55%;
  right: 7.5%;
  width: 100px;
  height: 50px;
}
.ansSubmitBtn {
  position: absolute;
  top: "24%";
  right: 33%;
  width: 130px;
  height: 60px;
  background-Color: #A98467;
  display: flex;
  align-Items: center;
  justify-Content: center;
  font-Size: 24px;
  font-Weight: bold;
  color:#F0EAD2;
  border-Radius: 20px;
};


.resetBtn {
  position: absolute;
  top: 24%;
  right: 25%;
  width: 110px;
  height: 60px;
  background-color: #A98467;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  color: #F0EAD2;
  border-radius: 20px;
}

.rectangleStyle {
  position: absolute;
  top: 53%;
  right: 26%;
  width: 200px;
  height: 80px;
  background-color: #A98467;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  color: #F0EAD2;
  border-radius: 20px;
}

/* 2스테이지 게임 */

.backgroundDiv2 {
  width: 100%;
  height: 90%;
  background: url('../../../../../public/stage2Background.png');
  background-size: cover;
  background-position: center;
  padding: 0;
}

.lionview {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 600px;
  height: 270px;
  background-color: red;
  margin: -150px 0 0 -300px;
}

.dist {
  position: absolute;
  top: 59%;
  left: 41%;
  width: 280px;
  height: 46px;
  background-color: #6C584C;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  color: #F0EAD2;
  border-radius: 20px;
}

.liondir {
  position: absolute;
  top: 45%;
  left: 15%;
  width: 150px;
  height: 110px;
}

.MiroStyle {
  position: absolute;
  top: 40%;
  left: 60%;
  margin: -150px 0 0 -150px;
}


/* 대화스크립트창 */

.IntrodialogueData{
  width: 50%;
  height: 50%;
  background: #F0EAD2;
  padding: auto;
}


/* 캐릭터 */

.character_dorothy{
  background-image: url("../../../../../public/roleselect/dorothys.png");
  width: 200px; 
  height: 200px;
  top: 42.7%;
  position: absolute;
  background-size: cover;

  
}
.character_scarecrow{
  background-image: url("../../../../../public/roleselect/heosus.png");
  width: 200px; 
  height: 200px;
  background-size: cover;
  top: 42.7%;
  position: absolute;
}
.character_lion{
  background-image: url("../../../../../public/roleselect/lions.png");
  width: 200px; 
  height: 200px;
  background-size: cover;
  top: 42.7%;
  position: absolute;
}
.character_tinman{
  background-image: url("../../../../../public/roleselect/tws.png");
  width: 200px; 
  height: 200px;
  background-size: cover;
  top: 42.7%;
  position: absolute;
}
/* 배경 */


.background_0{
  width: 100%;
  height: 90%;
  background-image: url("../../../../../public/scriptbackground/background_0.png");
  background-size: cover;
  background-position: center;
  padding: 0;
}

.background_1{
  width: 100%;
  height: 90%;
  background-image: url("../../../../../public/scriptbackground/background_1.png");
  background-size: cover;
  background-position: center;
  padding: 0;
}

.background_2{
  width: 100%;
  height: 90%;
  background-image: url("../../../../../public/scriptbackground/background_2.png");
  background-size: cover;
  background-position: center;
  padding: 0;
}

.background_3{
  width: 100%;
  height: 90%;
  background-image: url("../../../../../public/scriptbackground/background_3.png");
  background-size: cover;
  background-position: center;
  padding: 0;
}

.background_4{
  width: 100%;
  height: 90%;
  background-image: url("../../../../../public/scriptbackground/background_4.png");
  background-size: cover;
  background-position: center;
  padding: 0;
}

.background_5{
  width: 100%;
  height: 90%;
  background-image: url("../../../../../public/scriptbackground/background_5.png");
  background-size: cover;
  background-position: center;
  padding: 0;
}

.background_6{
  width: 100%;
  height: 90%;
  background-image: url("../../../../../public/scriptbackground/background_6.png");
  background-size: cover;
  background-position: center;
  padding: 0;
}

.background_7{
  width: 100%;
  height: 90%;
  background-image: url("../../../../../public/scriptbackground/background_7.png");
  background-size: cover;
  background-position: center;
  padding: 0;
}

.background_8{
  width: 100%;
  height: 90%;
  background-image: url("../../../../../public/scriptbackground/background_8.png");
  background-size: cover;
  background-position: center;
  padding: 0;
}

