/* 스테이지 공통 */
.compStyle {
  width: 90%;
  height: 95%;
  padding: 2.5% 5%;
}
.iconStyle {
  position: absolute;
  top: 55%;
  left: 7.5%;
  width: 50px;
  height: 50px;
}
.troop2 {
  position: absolute;
  top: 18%;
  left: 10%;
  width: 600px;
  height: 300px;
}
.howToPlayImg {
  position: absolute;
  top: 22%;
  right: 15%;
  width: 20%;
  height: 25%;
  background-color: white;
}
.readyBtn {
  position: absolute;
  top: 52%;
  right: 20%;
  width: 130px;
  height: 60px;
  background-Color: #A98467;
  display: flex;
  align-Items: center;
  justify-Content: center;
  font-Size: 24px;
  font-Weight: bold;
  color:#F0EAD2;
  border-Radius: 20px;
}
.howToPlayBtn {
  position: absolute;
  top: 52%;
  right: 33%;
  width: 130px;
  height: 60px;
  background-Color: #A98467;
  display: flex;
  align-Items: center;
  justify-Content: center;
  font-Size: 24px;
  font-Weight: bold;
  color:#F0EAD2;
  border-Radius: 20px;
}

  /* 1스테이지 게임 */
.BoardStyle {
  position: absolute;
  top: 40%;
  left: 50%;
  margin: -150px 0 0 -150px;
}
.BoardStyle2{
  position: absolute;
  top: 40%;
  left: 30%;
  margin: -150px 0 0 -150px;
}
.MathBoardStyle {
  position: absolute;
  top: 42%;
  left: 60%;
  margin: -150px 0 0 -150px;
}
.AnsBoardStyle  {
  position: absolute;
  top: 62%;
  left: 60%;
  margin: -150px 0 0 -150px;
}
.equal {
  position: absolute;
  top: 55%;
  right: 45%;
  width: 50px;
  height: 50px;
}
.selectBtn {
  position: absolute;
  top: 55%;
  right: 7.5%;
  width: 100px;
  height: 50px;
}
.ansSubmitBtn {
  position: absolute;
  top: 24%;
  right: 33%;
  width: 130px;
  height: 60px;
  background-Color: #A98467;
  display: flex;
  align-Items: center;
  justify-Content: center;
  font-Size: 24px;
  font-Weight: bold;
  color:#F0EAD2;
  border-Radius: 20px;
}
.resetBtn {
  position: absolute;
  top: 24%;
  right: 25%;
  width: 110px;
  height: 60px;
  background-color: #A98467;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  color: #F0EAD2;
  border-radius: 20px;
}
.rectangleStyle {
  position: absolute;
  top: 53%;
  right: 26%;
  width: 200px;
  height: 80px;
  background-color: #A98467;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  color: #F0EAD2;
  border-radius: 20px;
}

/* 2스테이지 게임 */
.lionview {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 600px;
  height: 270px;
  background-color: red;
  margin: -150px 0 0 -300px;
}
.dist {
  position: absolute;
  top: 59%;
  left: 41%;
  width: 280px;
  height: 46px;
  background-color: #6C584C;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  color: #F0EAD2;
  border-radius: 20px;
}
.liondir {
  position: absolute;
  top: 45%;
  left: 15%;
  width: 150px;
  height: 110px;
}
.MiroStyle {
  position: absolute;
  top: 40%;
  left: 60%;
  margin: -150px 0 0 -150px;
}

/* 3스테이지 게임 */
.container {
  display: flex;
  justify-content: space-between;
  width: 100%; 
  height: 100%;
}
.puzzleLeft {
  flex: 0 0 70%;
  max-width: 70%;
  height: 100%;
  background-image: url("../../../../../public/image/game/puzzleGame/puzzleGameBgHeart.JPG");
  background-size: cover;
  background-repeat: no-repeat;
}
.puzzleRight {
  flex: 0 0 30%;
  max-width: 30%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1px;
  object-fit:fill;
}
.gridImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}
.puzzleImage {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.stage3SelectBtn {
  position: absolute;
  top: 58%;
  right: 33%;
  width: 130px;
  height: 60px;
  background-Color: #A98467;
  display: flex;
  align-Items: center;
  justify-Content: center;
  font-Size: 24px;
  font-Weight: bold;
  color:#F0EAD2;
  border-Radius: 20px;
}

/* 4스테이지 게임 */
.word {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 130px;
  height: 50px;
  background-Color: #A98467;
  display: flex;
  align-Items: center;
  justify-Content: center;
  font-Size: 24px;
  font-Weight: bold;
  color:#F0EAD2;
  border-Radius: 20px;
}
.stage4SubmitBtn {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 130px;
  height: 50px;
  background-Color: #A98467;
  display: flex;
  align-Items: center;
  justify-Content: center;
  font-Size: 24px;
  font-Weight: bold;
  color:#F0EAD2;
  border-Radius: 20px;
}
.drawingDiv {
  position: absolute;
  top: 22%;
  left: 42%;
  width: 480px;
  height: 250px;
  background-color: #F0EAD2;
  display: flex;
  align-Items: center;
  justify-Content: center;
  border: solid 5px #6C584C;
  border-Radius: 20px;
}
.drawing{
  width:70%;
  height: 100%;
}


/* 캐릭터 */
.character_dorothy{
  background-image: url("../../../../../public/image/roleSelect/dorothys.png");
  width: 250px; 
  height: 250px;
  background-size: cover;
  bottom: 34%;
  position: absolute;
}
.character_scarecrow{
  background-image: url("../../../../../public/image/roleSelect/heosus.png");
  width: 250px; 
  height: 250px;
  background-size: cover;
  bottom: 34%;
  position: absolute;
}
.character_lion{
  background-image: url("../../../../../public/image/roleSelect/lions.png");
  width: 250px; 
  height: 250px;
  background-size: cover;
  bottom: 34%;
  position: absolute;
}
.character_tinman{
  background-image: url("../../../../../public/image/roleSelect/tws.png");
  width: 250px; 
  height: 250px;
  background-size: cover;
  bottom: 34%;
  position: absolute;
}



/* 배경 최종 */
/* 일러 & 스토리 배경 background_S*/
.background_S1{
  width: 100%;
  height: 90%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
  url("../../../../../public/image/backGround/S1_BG_tornado.png");
  background-size: cover;
  background-position: center;
  padding: 0;
}
.background_S2{
  width: 100%;
  height: 90%;
  background-image: url("../../../../../public/image/backGround/S2_BG_forest.png");
  background-size: cover;
  background-position: center;
  padding: 0;
}
.background_S3{
  width: 100%;
  height: 90%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
  url("../../../../../public/image/backGround/S3_BG_castle.png");
  background-size: cover;
  background-position: center;
  padding: 0;
}
.background_S4{
  width: 100%;
  height: 90%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
  url("../../../../../public/image/backGround/S4_BG_oz.png");
  background-size: cover;
  background-position: center;
  padding: 0;
}
.background_S5{
  width: 100%;
  height: 90%;
  background-image: url("../../../../../public/image/backGround/S5_BG_clear.png");
  background-size: cover;
  background-position: center;
  padding: 0;
}
.background_S6{
  width: 100%;
  height: 90%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
  url("../../../../../public/image/backGround/S6_BG_gohome.png");
  background-size: cover;
  background-position: center;
  padding: 0;
}

/* 게임 배경 background_G */
.background_G1{
  width: 100%;
  height: 90%;
  background-image: url("../../../../../public/image/backGround/G1_BG_carcul.png");
  background-size: cover;
  background-position: center;
  padding: 0;
}
.background_G2{
  width: 100%;
  height: 90%;
  background-image: url("../../../../../public/image/backGround/G2_BG_maze.png");
  background-size: cover;
  background-position: center;
  padding: 0;
}
.background_G3{
  width: 100%;
  height: 90%;
  background-image: url("../../../../../public/image/backGround/G3_BG_puzzle.png");
  background-size: cover;
  background-position: center;
  padding: 0;
}
.background_G4{
  width: 100%;
  height: 90%;
  background-image: url("../../../../../public/image/backGround/G4_BG_catchmind.png");
  background-size: cover;
  background-position: center;
  padding: 0;
}


/* 대화스크립트창 */
.illustration{
  position: absolute;
  top: 50%;
  left: 55%;

  width: 800px;
  height: 300px;
  font-size: 30px;
  color: #F0EAD2;
  display: flex;
  align-Items: center;
  justify-Content: center;
  margin: -240px 0 0 -490px;
}
.script{
  position: absolute;
  bottom: 35%;
  right: 6%;

  width: 72%;
  height: 22%;
  font-size: 25px;
  background-color: #F0EAD2;
  opacity: 0.8;
  display: flex;
  align-Items: center;
  /* justify-Content: center; */
  padding-left: 8%;
  margin: -240px 0 0 -490px;
  border: solid 5px #6C584C;
  border-radius: 20px;
}

