.drawingContainer{
    width: 100%;
    height: 90%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("../../../../../../public/image/backGround/G4_BG_catchmind.png");
    background-size: cover;
    background-position: center;
    padding: 0;
}

.canvasWrap{
    position:absolute;
    width: 60%;
    height: 44%;
    right: 7%;
    top: 19%;
}

.canvas{
    background-color: #f0ead2;
    border-radius: 25px;
    border: 5px solid #6c584c;
    position: absolute;
    right: 0;
    bottom: 0;
}

.buttonZone{
    width: 6%;
    height: 85%;
    background-color: #f0ead2;
    border: 5px solid #6c584c;
    border-radius: 20px;
    position: absolute;
    left: 20%;
    top: 3%;
    padding: 1%;    
}

.timer{
    width: 6%;
    height: 100%;
    left: 7%;
    position: absolute;
    justify-content: center;
}

.clock{
    width: 100%;
    height: 20%;
    position: absolute;
    top: 3%;
    font-size: x-large;
    left: 27%;
}

.timerZone{
    width: 50%;
    height: 78%;
    background-color: #f0ead2;
    border: 5px solid #6c584c;
    border-radius: 15px;
    position: absolute;
    padding: 1%;
    bottom: 4%;
    left: 15%;
}

.timebarVertical{
    width: 464%;
    height: 9%; /* 원하는 높이로 조정 */
    border: 5px solid #6c584c;
    border-radius: 13px;
    position: absolute;
    top: 49%;
    left: -191%;
    transform: rotate(90deg);
}

.button{
    width: 100%;
    border: none;
    font-size: xx-large;
    background-color: #f0ead2;
    color: #6c584c;
    margin-top: 70%;
}
.clearDiv{
    color: rgb(128, 188, 39);
    font-size: 200px;
    font-weight: bold;
    position: absolute;
    left: 50%; /* 가로 중앙 정렬 */
    top: 50%; /* 세로 중앙 정렬 */
    transform: translate(-50%, -75%); /* 중앙으로 이동 */
    text-shadow: -6px 0px white, 0px 6px white, 6px 0px white, 0px -6px white;
}
.failDiv{
    color: rgb(243, 39, 39);
    font-size: 200px;
    font-weight: bold;
    position: absolute;
    left: 50%; /* 가로 중앙 정렬 */
    top: 50%; /* 세로 중앙 정렬 */
    transform: translate(-50%, -75%); /* 중앙으로 이동 */
    text-shadow: -6px 0px white, 0px 6px white, 6px 0px white, 0px -6px white;
}