.compStyle {
  width: 90%;
  height: 95%;
  padding: 2.5% 5%;
  display: flex;
}
.background_G4 {
  width: 100%;
  height: 90%;
  display: flex;
  background-image: url("../../../../../../public/image/backGround/G4_BG_catchmind.png");
  background-size: cover;
  background-position: center;
  padding: 0;
}
.charStyle {
  display: flex;
  width: 55%;
  height: 100%;
}
.firstDiv {
  height: 100%;
  width: 34%;
  display: flex;
  padding-bottom: 2%;
  position: relative;
}
.checkMain {
  height: auto;
  width: 100%;
}
.checkMarkExtra {
  width: 50%;
  height: auto;
  position: absolute;
  top: 70%;
  left: 30%;
  z-index: 1;
}
.otherDiv {
  height: 100%;
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 2%;
  position: relative;
}
.checkExtra {
  height: auto;
  width: 100%;
}
.guideStyle {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 45%;
  height: 100%;
}
.topDivStyle {
  height: 80%;
  width: 100%;
  top: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: fl;
}
.bottomDivStyle {
  height: 33%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.howToPlayBtn {
  width: 20%;
  height: 50%;
  background-Color: #A98467;
  display: flex;
  align-Items: center;
  justify-Content: center;
  font-Size: 24px;
  font-Weight: bold;
  color: #F0EAD2;
  border-Radius: 20px;
  margin-right: 8%;
  cursor: pointer;
}
.howToPlayBtn:hover {
  background-color: #f0ead2;
  color: #a98467;
  cursor: pointer;
}
.readyBtn:hover {
  background-color: #f0ead2;
  color: #a98467;
}
.readyBtn {
  width: 20%;
  height: 50%;
  background-Color: #A98467;
  display: flex;
  align-Items: center;
  justify-Content: center;
  font-Size: 24px;
  font-Weight: bold;
  color: #F0EAD2;
  border-Radius: 20px;
  margin-right: 8%;
}
.startBtn {
  width: 20%;
  height: 50%;
  background-Color: #A98467;
  display: flex;
  align-Items: center;
  justify-Content: center;
  font-Size: 24px;
  font-Weight: bold;
  color: #F0EAD2;
  border-Radius: 20px;
  margin-right: 8%;
  top: 100%;
  cursor: pointer;
}
.startBtn:hover {
  background-color: #f0ead2;
  color: #a98467;
}